<!DOCTYPE html>
<html>
  <head>
    {{#block "head"}}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {{#if title}}
        <title>{{title}} - {{data "project.title"}}</title>
      {{else if name}}
        <title>{{name}} - {{data "project.title"}}</title>
      {{else}}
        <title>{{data "project.title"}}</title>
      {{/if}}
      {{#each styles}}
        <link rel="stylesheet" href="{{@root.baseurl}}/assets/toolkit/styles/{{this}}.css?v=2">
      {{/each}}
    {{/block}}

    <!-- Don't use in production -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.min.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="{{@root.baseurl}}/react/main.js"></script>

    <script>
      // For demo purposes we have compiled all the compents into main.js using WebPack.
      var Layout = window.Component.Layout;
      var Top = window.Component.Top;
      var Middle = window.Component.Middle;
      var Bottom = window.Component.Bottom;
      var Footer = window.Component.Footer;
      var Button = window.Component.Button;
      var ButtonGroup = window.Component.ButtonGroup;
      var TopBar = window.Component.TopBar;
      var Bubbles = window.Component.Bubbles;
      var Modal = window.Component.Modal;
      var Toggle = window.Component.Toggle;
      var GiftSnippet = window.Component.GiftSnippet;
      var Money = window.Component.Money;
      var Card = window.Component.Card;
      var TopUpAmount = window.Component.TopUpAmount;
      var Favourites = window.Component.Favourites;
      var CharitySearch = window.Component.CharitySearch;
      var FormRow = window.Component.FormRow;
      var IconSvg = window.Component.IconSvg;
      var CreditCard = window.Component.CreditCard;

      // Fake model for demo only
      var user = {
          userFullName: "Benjamin Long Name Smith Edge",
          userInitials: "BE",
          userAccountType: "Giving",
          userAccountNumber: "01234567",
          userAccountList: [
              {
                  userAccountType: "Giving",
                  userAccountNumber: "01234567"
              },
              {
                  userAccountType: "Recipient",
                  userAccountNumber: "7654321"
              }
          ]

      };

      // Fake model for demo only
      var balance = {
          topUpAmount: faker.finance.amount(),
          topUpBoostedAmount: faker.finance.amount(),
          balanceAmount: faker.finance.amount(),
          balanceUnclearedAmount: faker.finance.amount(),
          giftAmount: faker.finance.amount(),
          giftCharityCount: faker.random.number()
      };

      // Fake model for demo only
      var notifications = [];
      for (var i = 0; i<5; i++) {
          notifications.push({
              id: faker.random.number(),
              message: faker.lorem.sentence(),
              date: faker.date.recent()
          });
      }

      // Fake model for demo only
      var favs = [];
      for (var i = 0; i<3; i++) {
          favs.push({
              charityId: faker.random.number(),
              charityName: faker.company.companyName(),
              charityUrl: faker.internet.url(),
              charityNumber: faker.random.number(),
              favourited: true
          });
      }

      // Fake model for demo only
      var charities = [];
      for (var i = 0; i<1000; i++) {
          charities.push({
              charityId: faker.random.number(),
              charityName: faker.company.companyName(),
              charityUrl: faker.internet.url(),
              charityNumber: faker.random.number(),
              favourited: false
          });
      }
    </script>

    {{#block "main"}}{{/block}}

  </head>
  <body class="{{bodyclass}} ready">
      <div id="root"></div>
  </body>
</html>
