---
name: Heading Elements
notes: |
  These are some heading elements.
links:
  MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements
labels:
  - approved
previewClass: drizzle-u-rhythm bg-red 
---

{{#with (data "specimens")}}
  <h1>{{heading}} <sup>sup</sup></h1>
  <h2>{{heading}} <small>small</small></h2>
  <h3>{{heading}}</h3>
  <h4>{{heading}}</h4>
  <h5>{{heading}}</h5>
  <h6>{{heading}}</h6>
{{/with}}
