---
notes: This is the base react class.
hidden: true
app_id: Demo
---
<!-- Demo react component BEGINS -->
<div id={{root_id}} class="reactDemo">{{appId}}</div>
<script type="text/babel">
  const {{appId}} = () => {

      return (
          <React.Fragment>

                {{#block "content"}}
                  test
                {{/block}}

          </React.Fragment>
      );};
      ReactDOM.render(<{{appId}} />, document.getElementById('{{root_id}}'));
</script>
<!-- Demo react component ENDS -->
